/*** General ***/

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
 h1 {
    font-size: 28px;
    width: 82%;
    @media all and (min-width: 768px)  {
        padding-right: 20px;
        width: auto;
    }
 }
 h3 {
    padding-top: 15px;
 }
h3, p {
    margin: 0px;
    font-size: 18px;
}

p {
    font-size: 15px;
    margin-top: 5px;
    font-weight: 300;
}

$couleur-primaire : #9356DC;

$couleur-secondaire : #FF79DA;

$couleur-tertiaire : #99E2D0;

@mixin bouton {
    cursor: pointer;
    width: 186px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(175deg, $couleur-secondaire, $couleur-primaire);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    box-shadow: 0px 3px 10px 0px #00000040;
    transition: all 500ms;

}

/*** Header ***/

.header {

    display: flex;
    align-items: center;
    justify-content: center;



    &__icone {
        width: 95%;
        padding-left: 20px;
        font-size: 20px;
        color: #353535;
        position: absolute;
    }

    &__logo {
        width: 197px;
        height: 36px;
        margin: 15px;

    }

   
    
}
 .image {
    width: 100%;
    height: 250px;
    object-fit: cover;

    @media all and (min-width: 768px) {
        height: 350px;
        object-fit: cover;
    }
 }

/*** Main ***/

main {
    background-color: #F3F3F3;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
    margin-top: -50px;
    padding-top: 15px;
    @media all and (min-width: 768px)  {
        margin-left: 15%;
        margin-right: 15%;
    }
}

/*** Titre et coeur rempli ***/

.titre {
    display: flex;
    font-family: 'Shrikhand';
    margin-left: 5%;
    @media all and (min-width: 768px) {
        justify-content: center;
        margin-left: 0%;
    }


    &__icone {

        font-size: 25px;
        padding-top: 24px;

    }

    &__icone i {
        position:absolute;
        cursor: pointer;
    }
}



/*** Entrees plats et desserts ***/

.entrees-plats-desserts {
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    margin-left: 5%;
    font-size: 16px;
    height: 27px;
    font-weight: 300;
    @media all and (min-width: 768px)  {
        margin-left: 18%;
    }

    &__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card {
        cursor: pointer;
        background-color: white;
        width: 85%;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        box-shadow: 4px 12px 21px rgba(0, 0, 0, 0.1);
        margin-bottom: 15px;
        @media all and (min-width: 768px)  {
            width: 60%;
        }
    }

    &__prix {
        display: flex;
        align-items: end;
    }
}

/*** bouton commander ***/

.bouton {
    @include bouton;
    margin-bottom: 40px;
}

.bouton:hover {
    opacity: 0.8;
    box-shadow: 0 7px 10px -3px #7e7e7e;
}

/*** Footer ***/

footer {
    background-color: #353535;
    color: white;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    @media all and (min-width: 768px)  {
        padding-top: 60px;
    }

    
    p {
        font-family: 'Shrikhand';
        font-size: 20px;
        margin-bottom: 20px;
        @media all and (min-width: 768px)  {
       
            padding-right: 45px;
        }
    }

    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        @media all and (min-width: 768px) {
            display: flex;
            padding-right: 45px;
        }
    } 

    li {
        padding-bottom: 10px;
        @media all and (min-width: 768px)  {
            padding-right: 15px;
        }
    }

    i {
        width: 30px;
    }


}

.footer_flex {
    @media all and (min-width: 768px)  {
        display: flex;
        flex-direction: row-reverse;
    }
}

.ul_flex {
    @media all and (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.contact_mail {
    color: white;
    text-decoration: none;
}


/*** Animation coeur ***/

.coeur-rempli {
    opacity: 0;
}

.coeur-rempli:hover {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient(0deg, $couleur-secondaire , 40%, $couleur-primaire);
    background-clip: text;
    animation: grossir 1s;
}

@keyframes grossir {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
    
  }

/*** Animation apparition de menus ***/


.entrees-plats-desserts__card:nth-child(1){
    animation: apparition 1s linear both;
  }
  .entrees-plats-desserts__card:nth-child(2){
    animation: apparition 1s 0.3s linear both;
  }
  .entrees-plats-desserts__card:nth-child(3){
    animation: apparition 1s 0.6s linear both;
  }
  .entrees-plats-desserts__card:nth-child(4){
    animation: apparition 1s 0.9s linear both;
  }
  
  @keyframes apparition {
    0%{
        opacity: 0;
        transform: translateY(25px);
    }
    60%{
        opacity: 0;
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
  }


  /* Animation slide card */ 

.slidecard{
  background-color: $couleur-tertiaire;
  position: absolute;
  height: 100%;
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -65px;
  opacity: 0;
  transition: 1s;
}

.entrees-plats-desserts__card {
    overflow: hidden;
}

.entrees-plats-desserts__card:hover .slidecard{
    opacity: 1;
    right: 0;
    }
  
   .entrees-plats-desserts__prix{
    transition: 1s;
   }
   
  .entrees-plats-desserts__card:hover .entrees-plats-desserts__prix{
     padding-right: 60px;
     
  
  }
  .icone {
    font-size: 20px;
    color: white;

  }

   /* ... sur les menus */ 

   .entrees-plats-desserts__card:hover .entrees-plats-desserts__texte  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }


  .entrees-plats-desserts__card:hover p, h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .entrees-plats-desserts__texte  {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .entrees-plats-desserts__card p, h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }