/*** General ***/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 28px;
  width: 82%;
}
@media all and (min-width: 768px) {
  h1 {
    padding-right: 20px;
    width: auto;
  }
}

h3 {
  padding-top: 15px;
}

h3, p {
  margin: 0px;
  font-size: 18px;
}

p {
  font-size: 15px;
  margin-top: 5px;
  font-weight: 300;
}

/*** Header ***/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__icone {
  width: 95%;
  padding-left: 20px;
  font-size: 20px;
  color: #353535;
  position: absolute;
}
.header__logo {
  width: 197px;
  height: 36px;
  margin: 15px;
}

.image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (min-width: 768px) {
  .image {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/*** Main ***/
main {
  background-color: #F3F3F3;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  position: relative;
  margin-top: -50px;
  padding-top: 15px;
}
@media all and (min-width: 768px) {
  main {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/*** Titre et coeur rempli ***/
.titre {
  display: flex;
  font-family: "Shrikhand";
  margin-left: 5%;
}
@media all and (min-width: 768px) {
  .titre {
    justify-content: center;
    margin-left: 0%;
  }
}
.titre__icone {
  font-size: 25px;
  padding-top: 24px;
}
.titre__icone i {
  position: absolute;
  cursor: pointer;
}

.coeur-rempli {
  opacity: 0;
}

.coeur-rempli:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(0deg, #FF79DA, 40%, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  animation: grossir 1s;
}

@keyframes grossir {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*** Entrees plats et desserts ***/
.entrees-plats-desserts {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-left: 5%;
  font-size: 16px;
  height: 27px;
  font-weight: 300;
}
@media all and (min-width: 768px) {
  .entrees-plats-desserts {
    margin-left: 18%;
  }
}
.entrees-plats-desserts__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entrees-plats-desserts__card {
  background-color: white;
  width: 85%;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  box-shadow: 4px 12px 21px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
@media all and (min-width: 768px) {
  .entrees-plats-desserts__card {
    width: 60%;
  }
}
.entrees-plats-desserts__prix {
  display: flex;
  align-items: end;
}

/*** bouton commander ***/
.bouton {
  cursor: pointer;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all 500ms;
  margin-bottom: 40px;
}

.bouton:hover {
  opacity: 0.8;
  box-shadow: 0 7px 10px -3px #7e7e7e;
}

/*** Footer ***/
footer {
  background-color: #353535;
  color: white;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}
@media all and (min-width: 768px) {
  footer {
    padding-top: 60px;
  }
}
footer p {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-bottom: 20px;
}
@media all and (min-width: 768px) {
  footer p {
    padding-right: 45px;
  }
}
footer ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
@media all and (min-width: 768px) {
  footer ul {
    display: flex;
    padding-right: 45px;
  }
}
footer li {
  padding-bottom: 10px;
}
@media all and (min-width: 768px) {
  footer li {
    padding-right: 15px;
  }
}
footer i {
  width: 30px;
}

@media all and (min-width: 768px) {
  .footer_flex {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media all and (min-width: 768px) {
  .ul_flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.contact_mail {
  color: white;
  text-decoration: none;
}

/*** Animation apparition de menus ***/
.entrees-plats-desserts__card:nth-child(1) {
  animation: apparition 1s linear both;
}

.entrees-plats-desserts__card:nth-child(2) {
  animation: apparition 1s 0.3s linear both;
}

.entrees-plats-desserts__card:nth-child(3) {
  animation: apparition 1s 0.6s linear both;
}

.entrees-plats-desserts__card:nth-child(4) {
  animation: apparition 1s 0.9s linear both;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  60% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* Animation slide card */
.slidecard {
  background-color: #99E2D0;
  position: absolute;
  height: 100%;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -65px;
  opacity: 0;
  overflow: hidden;
  transition: 1s;
}

.entrees-plats-desserts__card {
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.entrees-plats-desserts__card:hover .slidecard {
  opacity: 1;
  right: 0;
}

.entrees-plats-desserts__prix {
  transition: 1s;
}

.entrees-plats-desserts__card:hover .entrees-plats-desserts__prix {
  padding-right: 19%;
}

.icone {
  font-size: 20px;
  color: white;
}

/* ... sur les menus */
.entrees-plats-desserts__card:hover .entrees-plats-desserts__texte {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.entrees-plats-desserts__card:hover p, h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}/*# sourceMappingURL=menus.css.map */